
@if (ReferalList is not null)
{

    <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            @*Last 30 days*@
        </h3>
        <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
            <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6 cursor-pointer">
                <dt class="text-sm font-medium text-gray-500 truncate">
                    Total Clients
                </dt>
                <dd class="mt-1 text-3xl font-semibold text-gray-900">
                    @ReferalList.Count()
                </dd>
            </div>

            <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6 cursor-pointer">
                <dt class="text-sm font-medium text-gray-500 truncate">
                    Active Clients
                </dt>
                <dd class="mt-1 text-3xl font-semibold text-gray-900">
                    @ReferalList.Where(x => x.IsActive).Count()
                </dd>
            </div>

            <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6 cursor-pointer">
                <dt class="text-sm font-medium text-gray-500 truncate">
                    Closed Clients
                </dt>
                <dd class="mt-1 text-3xl font-semibold text-gray-900">
                    @ReferalList.Where(x => !x.IsActive).Count()
                </dd>
            </div>

        </div>
    </div>

}

@code {

    [Parameter]
    public IEnumerable<User> ReferalList { get; set; }

}