@inherits LayoutComponentBase

<div class="bg-cover" style="background-image: url('_content/webapp/myassets/resources/E1.jpg'); ">

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    <div class="bg-fixed">
        <!-- https://stmallstoreprd01.blob.core.windows.net/b2c/toyota/images/background.jpg -->
        <div class="min-h-screen bg-gray-100 bg-opacity-50 flex flex-col py-6 sm:px-6 lg:px-8">





            @Body











        </div>


    </div>

</div>






@code {



}